/*
* @name OPERATION DECRINGIFY SHITCORD
* @author talesofstophere
* @version nil.
* @description Make discord less cringe, using cringe and poorly done css by yours truly. only used github for a few friends. not all css made by me. 
    HIGHLY RECOMMENDED: 
    - Use Vencord
    - Install 'ColorSighted' plugin
    - To make this look good with PlatformIndicators, turn off 'Color Mobile Indicator' in the settings of the plugin
    - Use DTM-08 V2 by 11pixels 
    KNOWN ISSUES:
    - Without DTM-08 V2 theme, some server icons/server folders fail to maintain it's square shape. 
    - ColorSighted shows your online/away/dnd/invis status all as green when switching your status
    - Like, everything else after huge update borfed it
* @source https://github.com/TalesOfSTOPHERE/Operation-Decringify-Midcord
*/



/* more cringe effects on profiles */
[class^="effect__"],[class^="effectsWrapper__"] {
    display: none;
}

/* ? */
[class*="hideEmoji__"] {
    opacity: 1 !important;
}

/* ? i assume super reacts */
[class^="reaction_"],[class*="shakeReaction__"] {
    animation: none !important;
}

/* avatar decorations */
svg[class^="avatarDecoration"],             /* Avatar Decorations */
img[class^="avatarDecoration"],             /* Avatar Decorations in Messages */
/* Fix 'View Profile' selector with hidden decoration */
[class*="bannerSVGWrapper_"] > mask > image {
    display: none;
}
[class*=avatarDecorationHint_] > foreignObject {
  width: 80px;
  height: 80px;
  mask: url(#svg-mask-avatar-status-round-80);
}
[class*=avatarDecorationHint_] {
  top: -80px;
  left: 0px;
  position: relative;
}

/* profile effects */
[class^="profileEffects"] {
  display: none;
}

/* Disable Gift Button(s) (in chat) */
button[aria-label="Send a gift"]
{
    display: none;
}

/* Hide Channel App Launcher in chat */
[class^="channelAppLauncher_"]
{
    display:none;
}

/* Hide things in DMs page */
li div a[href="/shop"], /* Hide 'Shop' Tab */
li div a[href="/store"] /* Hide 'Ntiro' Tab */
{
  display: none;
}

/* Disable nitro icon on members list hover and opening nitro page */
/* Some discords have the boosting capitalized, some don't, no clue why. There's probably a cleaner way to do this. */
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server boosting since"]),
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server Boosting since"])
{
    pointer-events: none;
}

/* Disable 'Learn More' for nitro in the popout in the side DM */
div[class*=overlayBackground_]:has(button[class*=getNitroButton_])
{
    display: none;
};

/* Disable nitro icon in word count */
div[class*=characterCount_] div[class*=iconOnly_]:has(svg[class*=premium_])
{
    display: none;
}

/* Hide 'Explore Discoverable Servers' in server page */
div[class*="listItem"]:has(div[aria-label="Explore Discoverable Servers"])
{
  display: none;
}

/* Removes floating server list footer (currently only contains Discover)*/
ul[data-list-id='guildsnav'] > div[class^=footer]
{
  display: none;
}
div[class*=unreadMentionsFixedFooter]
{
  bottom: 0px;
}

/* Make Super Reactions less annoying */
div[class^="effectsWrapper"]
{
    display: none;
} 
img.emoji
{
    opacity: 100;
}
div[class*="shakeReaction"]
{
    animation: none !important;
}

/* Hide small home server boost button next to server name at the top left */
div[class^="flowerStarContainer_c91f7d"]
{
  display: none;
}

/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
    display: none;
}

/* removes create poll button when clicking attach file */
div[id="channel-attach-poll"]
{
  display: none;
}

/* removes new member badges in servers */
div[class^="newMemberBadge_"]
{
  display: none;
}

/* removes server boost icon on names in servers */
svg[class^="premiumIcon_"]
{
  display: none;
}

/* removes server boost button from server context menu */
div[id="guild-header-popout-premium-subscribe"]
{
  display: none;
}

/* removes app directory button from server context menu */
div[id="guild-header-popout-application-directory"]
 {
  display: none;
 }

/* removes threads button (next to pins in servers) */
div[aria-label="Threads"]
 {
  display: none;
 }

 /* removes notifications button (next to pins in servers) 
(right click server in server list for alternative) */
div[aria-label="Notification Settings"]
 {
  display: none;
 }

/* Disable Popup ads */
.containerWrapper_fa6aa6,                   /* "Like this avatar decoration" popup on user modal */
container__9dbd2                            /* Profile effect ad */ {
    display: none;
}

/* Disable profile edit page upsell */
div[id="profile-customization-tab"] > div[class^="container_"]
{
    display:none;
}

/* Disable emoji inspection upsell */
[class^="nitroTextAndBadge_"], button:has([class^="premiumIcon_"]),
[class^="emojiSection_"] [class^="flex_"] div[class*="text-sm-normal"]
{
    display:none;
}

/* Disable clan tag in messages, memebers list, and popout profile view */
div[class^=body_] > span[class^="clickable_"] [role="button"],
span[class*="clanTagChiplet_"],
span[class*="clanTag_"]
{
    display: none;
}

/* removes 'Apps' from context menu (servers) */
div[id="message-apps"]
 {
  display: none;
 }

/* removes 'Apps' from context menu (users) */
div[id="user-context-apps"]
 {
  display: none;
 }

/* removes 'speak message' from context menu */
div[id="message-tts"]
 {
  display: none;
 }

/* removes 'create thread' from context menu */
div[id="message-thread"]
 {
  display: none;
 }

 /* removes server boost 'goal' below server name */
li div[class="container_c75f85 containerWithMargin_c75f85"]
 {
  display: none;
 }

 /* removes help button at top right corner */
div[aria-label="Help"]
 {
  display: none;
 }

 /* removes video call button at top right corner */
div[aria-label="Start Video Call"]
 {
  display: none;
 }

 /* removes message hover buttons completely (just right click lmao) */
div[class="buttonsInner__5126c popover_f84418 popoverReactionHoverBar_f84418 wrapper_f7ecac"]
 {
  display: none;
 }

/* remove small add note button when viewing profile on side 
(add notes using full profile view instead) */
button[aria-label="Add Note"]
{
  display: none;
}

/* removes add notes from context menu
(add notes using full profile view instead) */
div[id="user-context-note"]
{
  display: none;
}

/* removes 'invite to server' from 3 dots on full profile */
div[id="user-profile-overflow-menu-invite-to-server"]
{
  display: none;
}

/* removes 'invite to server' from user context menu */
div[id="user-context-invite-to-server"]
{
  display: none;
}

/* removes 'close dm' from user context menu
(use the X button retard) */
div[id="user-context-close-dm"]
{
  display: none;
}

/* removes 'hide muted channels' from server context menu */
div[id="guild-context-hide-muted-channels"]
{
  display: none;
}

/* removes 'show all channels' from server context menu */
div[id="guild-context-opt-in"]
{
  display: none;
}

/* removes 'start video call' from friends screen 3 dots menu */
div[id="friend-row-start-video-call"]
{
  display: none;
}

/* removes 'server boosting since' badge from profiles */
div[aria-label^="Server boosting since "]
{
  display: none;
}

/* removes 'completed a quest' badge from profiles */
div[aria-label="Completed a Quest"]
{
  display: none;
}

/* removes 'suggestions' from message box context menu */
div[id="textarea-context-suggestions"]
{
  display: none;
}

/* removes 'languages' from message box context menu */
div[id="textarea-context-languages"]
{
  display: none;
}

/* removes 'events, browse channels and members' from servers
(keep an eye on this incase) */
li div[class="containerDefault_f6f816 wrapper_d8bfb3"]
{
  display: none;
}
div[class="sectionDivider_c43953"]
{
  height: 2px;
  opacity: 0;
}
div[style="height: 12px;"]
{
  display: none;
}

/* removes separator line from ALL context menus 
(keep an eye on this one) */
div[class="separator_c1e9c4"]
{
  display: none;
}

/* removes server event notice */
div[class="channelNotice_a6cd4e"]
{
  display: none;
}

/* removes 'add status' to own profile */
div[aria-label="Add custom status"]
{
  display: none;
}

/* removes pronouns */
div[aria-label="Pronouns"]
{
  display: none;
}
div[class="dotSpacer_c32acf"]
{
  display: none;
}

/* disables 'start an activity' button in call */
button[aria-label="Start An Activity"]
{
  display: none;
}
/* disables 'start an activity' button in call */
div[aria-label="Play Activities here"]
{
  display: none;
}

/* remove server banners above channels */
div[class="animatedContainer_fd6364"]
{
  display: none; 
}
div[style="height: 84px;"]
{
  display: none;
}

/* disables small '2+ in voice channel' popup that appears above your name
at the bottom of channels */
div[class="container_eba0ba bottom_eba0ba"]
{
  display: none;
}

/* disables small 'unread' popup that appears at the top of channels 
when scrolled down in a channel list in a server */
div[class="container_eba0ba top_eba0ba"]
{
  display: none;
}

/* removes small 90 degree curved L shape line above profile picture
when replying to someone */
div[aria-label="Jump To Reply"]
{
  display: none;
}

/* disables a lot of small volume icons when someone is in a server vc */
div[class="vc-uvs-speaker vc-uvs-clickable vc-uvs-message-indicator vc-uvs-speaker-margin"]
{
  display: none;
}
div[class="vc-uvs-speaker vc-uvs-clickable vc-uvs-speaker-margin"]
{
  display: none;
}
div[class="vc-uvs-speaker vc-uvs-clickable"]
{
  display: none;
}

/* removes 'forward' from images/gifs? */
div[class^="container_e31053 forward_"]
{
  display: none;
}

/* removes 'free 1 month' badge that shows up for nitro */
div[class^="premiumTrialBadge_"]
{
  display: none;
}

/* Remove 'edit image with apps' from when hovering on gifs */
div[aria-label="Edit Image with Apps"]
{
  display: none;
}

/* removes new activity cards from server (CRINGE TO BEGIN WITH NEVER ADD THEM AGAIN SHITCORD) */
div[class="defaultColor__4bd52 text-sm/medium_cf4812 membersGroup_c8ffbb container__13cf1"]:has([xmlns="http://www.w3.org/2000/svg"]) {
    display: none;
}
div[class="container__0f2e8 openOnHover__0f2e8"] {
    display: none;
}

/* Remove emoji button and soundboard button in bottom left 
when watching screenshare/webcam */
div[class*="voiceEffectsActionBar_"]
{
  display: none;
}

/* remove status from voice channels in servers */
div[class*="statusDiv_"]
{
  display: none;
}

/* remove 'choose an activity' blue button from screenshare/webcam view */
[class="button_a5ea57 button_dd4f85 lookFilled_dd4f85 colorBrand_dd4f85 sizeLarge_dd4f85 grow_dd4f85"]
{
  display: none;
}

/* remove nitro trial shill at the top of screen */
div[class*="colorPremiumTier2_"][class*="colorPremium_"]
{
  display: none;
}

/* hides 'merch' tab in settings */
div[data-tab-id="merchandise"]
{
  display: none;
}

/* removes 'explore discoverable servers' from add friend screen */
div[class="grid_aef5fd"]:has(button[class="container_aef5fd"])
{
  display: none;
}

/* removes 'other places to make friends' from add friend screen */
h2[class="h2_c46f6a title_c46f6a defaultColor_c46f6a title_aef5fd"]
{
  display: none;
}

/* removes upsell overlay eyesore in settings -> profiles -> server profiles */
div[class*="upsellOverlay_"]
{
  display: none;
}

/* removse 'family' tab from settings */
div[data-tab-id="Family Center"]
{
  display: none;
}

/* idk what this is but its name pisses me off so get filtered */
div[id="cash-app-pay-container"]
{
  display: none;
}

/* removes 'app directory' tab from edit server */
div[data-tab-id="APP_DIRECTORY"]
{
  display: none;
}

/* removes 'server template' tab from edit server */
div[data-tab-id="GUILD_TEMPLATES"]
{
  display: none;
}

/* removes level 2 and 3 server boost upsell in server settings -> overview -> display 
(otherwise known as server banner and invite backgrounds customisation) */
[class="flexChild_dc333f"]:has([class*="upsellButton_"])
{
  display: none;
}
div[class*="upsell_"][role="button"][aria-hidden="true"]
{
  display: none;
}
div[class="divider_f0a9ff"]:has([class="flex_dc333f horizontal_dc333f justifyStart_ec1a20 justifyStart_ec1a20 noWrap_ec1a20"]):nth-of-type(2){
  display: none;
}

/* removes server boost upsell in server settings -> stickers */
div[class*="upsellContainer_"]
{
  display: none;
}
/* removes 'stickers lost' banner in server settings -> stickers */
div[class="banner_ad4cb5"]
{
  display: none;
}
/* removes pink server boost level bar in server settings -> stickers */
div[class*="progress_"][class*="progressBar_"]
{
  display: none;
}
/* hides lone divider grey bar in server settings -> stickers */
div[class="divider_b03b7f divider_bb33d5"]
{
  display: none;
}
/* hides server boost logos in server settings -> stickers */
svg[class*="tierIcon_"][class*="tierIconLocked_"]
{
  display: none;
}
/* server boost */
div[class*="guildIconV2Container__"] {
    display: none !important;
}
div[data-list-item-id*="channels___"] {
    display: none;
}
/* server image backgrounds */
div[class*="animatedContainer_"]:has(div[class*="bannerImage_"]):has([src*="https://cdn.discordapp.com/banners/"]) {
    display: none;
}
/* removes buy buttons in server settings -> stickers */
button[type="button"][class*="lookFilled_"][class*="colorGreen_"][class*="sizeMedium_"]
{
  display: none;
}
/* removes 'no server boost' text in settings -> stickers */
div[class*=tierDefaultUnlocked_]
{
  display: none;
}
/* removes 'unlock more slots' button in server settings -> stickers 
(BROKEN: removes avatar apply button lol */
/* button[class*="lookFilled_"][class*="colorGreen_"]:has([class*="contents_"])
{
  display: none;
} */

/* removes 'soundboard' tab from server settings */
div[data-tab-id="SOUNDBOARD"]
{
  display: none;
}

/* removes some separator bars in server settings */
div[class="separator_a0"]:nth-of-type(14){
    display: non;
}
/* more separator bars in server settings */
div[class="separator_a0"]:nth-of-type(20){
  display: non;
}
/* more separator bars in server settings */
div[class="separator_a0"]:nth-of-type(23){
  display: non;
}
/* more separator bars in server settings */
div[class="separator_a0"]:nth-of-type(19){
  display: non;
}
/* more separator bars in server settings */
div[class="separator_a0"]:nth-of-type(28){
  display: non;
}
/* 'community' in some server settings */
div[class="header_a0"]:has([class="eyebrow_dc00ef headerText_a0"]):nth-of-type(21){
  display: non;
}
/* 'community' in some server settings BUT also removes 'app settings' header in settings.*/
div[class="header_a0"]:has([class="eyebrow_dc00ef headerText_a0"]):nth-of-type(20){
  display: non;
}
/* 'monetization' in server settings */
div[class="header_a0"]:has([class="eyebrow_dc00ef headerText_a0"]):nth-of-type(24){
  display: non;
}

div[class="separator_a0"]
{
    opacity: 70%;
    height: 0.5px!important;
}

/* removes community tab in server settings */
div[data-tab-id="COMMUNITY"]
{
  display: none;
}

/* removes 'onboarding' tab in server settings */
div[data-tab-id="ONBOARDING"]
{
  display: none;
}

/* removes 'discovery' tab in server settings */
div[data-tab-id="DISCOVERY"]
{
  display: none;
}

/* removes 'custom invite link' tab in server settings */
div[data-tab-id="VANITY_URL"]
{
  display: none;
}

/* removes 'welcome screen' tab in server settings */
div[data-tab-id="COMMUNITY_WELCOME"]
{
  display: none;
}

/* removes 'server insights' tab in server settings */
div[data-tab-id="ANALYTICS"]
{
  display: none;
}

/* removes subscriptions tab in server settings */
div[data-tab-id="ROLE_SUBSCRIPTIONS"]
{
  display: none;
}

/* removes server boost tab in server settings */
div[data-tab-id="GUILD_PREMIUM"]
{
  display: none;
}

/* hides 'open chat' icon when hovering over server voice channel */
div[class*="iconItem_"][class*="iconBase_"][role="button"][aria-label="Open Chat"]
{
  display: none;
}

/* hides 'new' text when theres a new channel in a server */
div[class*="newChannel_"]
{
  display: none;
}

/* stops some pixels slightly merging with the bottom of profile picture in settings -> my account */
div[class="userInfo_b69b77"]
{
  height: 60px;
}

/* removes 'clips' tab in settings */
div[data-tab-id="Settings Clips"]
{
  display: none;
}

/* removes small 'new' notifications next to forum channels */
div[class*="channelInfo_"]:has([class="text-xs/semibold_dc00ef"])
{
  display: none;
}
/* removes popout when hovering over forum channels */
div[id*="popout_"]:has([class*="popout_c5b389"])
{
  display: none;
}

/* hides 'getting started' progress bar at the top of server channels */
div[class*="progressBarContainer_"][role="button"]:has([class*="progressBarText_"])
{
  display: none;
}

/* disables 'soundboard + webcam' button in call, buttons above deafen/mute */
button[aria-label="Open Soundboard"]
{
  display: none!important;
}
button[aria-label="Turn On Camera"][class*="button_"][class*="buttonColor_"][class*="lookFilled_"][class*="sizeSmall_"]
{
  display: none;
}
button[aria-label="Share Your Screen"]
{
  width: 218px;
  border-radius: 4px!important;
}

/* remove hovering mouse over nitro badge making stars appear */
div[class*="starContainer_"]
{
  display: none;
}

/* hides disabled soundboard button overlay when deafened */
span[class*="disabledButtonWrapper_"]:has(button[aria-label="Soundboard disabled when deafened"])
{
  display: none;
}

/* rounds corners of call buttons in normal calls*/
button[aria-label="Turn On Microphone"]
{
  border-radius: 4px!important;
}
button[aria-label="Disconnect"][class*="red_"]
{
  border-radius: 4px!important;
}
button[aria-label="Turn On Camera"]
{
  border-radius: 4px!important;
}

/* button alignment fixes. might be theme specific? */
div[class*="flex_"][class*="horizontal_"][class*="justifyStart_"][class*="alignStretch_"][class*="noWrap_"][class*="voiceButtonsContainer_"]:has(button[aria-label="Noise Suppression powered by Krisp"])
{
  margin-right: 0.5px!important;
}
.panels_a4d4d9 .container_b2ca13 .flex_dc333f
{
  margin-top: 0.5px!important;
}

/* square pfps */
foreignObject[mask*="url(#"] {
  mask: none;
  border-radius: 3px!important;
}
.avatar_f9f2ca{
  border-radius: 3px!important;
  outline: 2px solid rgb(46, 38, 38);
}
.avatar_2e8lTP{
  border-radius: 3px!important;
}
.clickable_f94206:hover .overlay_f94206:after{
  border-radius: 3px!important;
}
.full-motion .overlay__75742:after{
  border-radius: 3px!important;
}
foreignObject[mask*="url(#"]:has([class*="avatarStack_"]) {
  outline: 2px solid rgb(46, 38, 38);
  x: 2px!important;
  y: 2px!important;
}
/* fixes alignment issues near deafen/mute button */
.container_b2ca13 .avatar_b2ca13{
    margin-bottom: 4px;
    margin-left: 1px;
}
/* more profile picture squared + corners */
img[alt] {
    border-radius: 3px;
}

/* status indicator outline */
rect[class*="pointerEvents_"]
{
  outline: 2px solid rgb(46, 38, 38);
  border-radius:1rem;
}
circle[fill="black"][r="14"][cx="68"]
{
  display: none;
}
circle[fill="black"][r="20"][cx="100"]
{
  display: none;
}
rect[class*="pointerEvents_"][mask="url(#svg-mask-status-online-mobile)"]
{
  outline: 2px solid rgb(46, 38, 38);
  border-radius:1px!important;
}
rect[class*="pointerEvents_"][width="16"][height="24"]{
  outline: 2px solid rgb(46, 38, 38);
  border-radius:1px!important;
}
rect[class*="pointerEvents_"][width="10"][height="15"]{
  outline: 2px solid rgb(46, 38, 38);
  border-radius:1px!important;
}
rect[fill="black"][style="opacity: 0.45;"]{
    display: none;
}
/* fixes square status icon */
.svg__2338f.mask_a423bd {
    border-radius: 10px;
}

/* rounded mute icon in call (ill fix this messy layout one day...) */
button[aria-label="Turn Off Microphone"][class*="staticButton_"][class*="lookBlank_"][class*="colorable_"]{
    border-radius: 4px;
}

/* Deletes  'nitro preview' in settings -> user profile */
div[class*="segmentedControlNonNitro_"]{
    display: none;
}

/* in call speaking border (bottom left) */
.avatarSpeaking__44b0c{
    border-radius: 4px;
}

/* disables notification popup about 'spooky' notification noises */
.wrapper_c1da7a{
    display: none;
}

/* removes border on tiny icon in someones profile next to mutual friend/mutual servers */
foreignobject[mask*="url(#"][width="16"][height="16"]:has([class*="avatarStack_"]){
    x: 0px !important;
    y: 0px !important;
    outline: none;
    box-shadow: none;
}
/* mutual friend icon stuff bla bla */
.avatar_ccc074{
    mask: none;
    -webkit-mask: none;
    inline-size: 10px;
}
.section_fc9b46{
    gap: 12px;
}
.biteSizeInnerThemed_c69a7b .mutuals_fc9b46 .iconSizeSmol_a64689{
    border-radius: 2px;
}

/* removes border from offline server members and fixes pixel offset */
.offline__5d473 foreignobject[mask*="url(#"]:has([class*="avatarStack_"]){
    x: 0px !important;
    y: 0px !important;
    outline: none;
    box-shadow: none !important;
}
.selected__91a9d foreignobject[mask*="url(#"]:has([class*="avatarStack_"]){
    outline: none;
    box-shadow: none !important;
}

/* square pfps in call + borders*/
div[class*="voiceAvatar_"]{
    border-radius: 4px;
}
.border_f910d0.speaking_f910d0{
    border-radius: 4px;
}
.border_f910d0{
    border-radius: 4px;
}
.row_a5b954 foreignobject[mask*="url(#"]:has([class*="avatarStack_"]){
    y: 0px !important;
    x: 0px !important;
    border-radius: 4px !important;
}
.svg_c51b4e{
    border-radius: 4px !important;
}
/* deafen/mute icon in call turned into a square */
.status_f910d0 {
    border-radius: 4px;
}

/* removes discover from bottom of server list as of 03/12/2024 */
div[class*="footer_"]:has([aria-label="Discover"]) {
display: none;
}

/* removes cringe status bubbles */
[aria-label*="Custom status: "] {
    display: none;
}

/* hides game streak, marathon time */
div[aria-label*="Played "]{
    display: none;
}
/* hides 'new player' */
div[class="badgeContainer__635ed"]:has([d="M11.33 13.68c.41.27.93.27 1.34 0 1.73-1.1 6.2-4.3 6.2-8.02 0-2.02-1.6-3.66-3.59-3.66-1.46 0-2.42.58-3.28 1.44A4.33 4.33 0 0 0 8.72 2a3.63 3.63 0 0 0-3.6 3.66c0 3.72 4.48 6.92 6.2 8.02Z"]) {
    display: none;
}
/* hides 'new release'*/
div[class="badgeContainer__635ed"]:has([d="M17.93 1.51a.74.74 0 0 0-1.41 0l-1.13 3.47h-3.65a.74.74 0 0 0-.43 1.35l2.95 2.14-1.13 3.47a.74.74 0 0 0 1.14.83l2.95-2.15 2.96 2.15a.74.74 0 0 0 1.14-.83l-1.13-3.47 2.95-2.14a.74.74 0 0 0-.43-1.35h-3.65l-1.13-3.47ZM10.7 14.7a1 1 0 0 0-1.4-1.4l-8 8a1 1 0 1 0 1.4 1.4l8-8ZM9.7 8.3a1 1 0 0 1 0 1.4l-6 6a1 1 0 0 1-1.4-1.4l6-6a1 1 0 0 1 1.4 0ZM15.7 15.7a1 1 0 0 0-1.4-1.4l-6 6a1 1 0 1 0 1.4 1.4l6-6Z"]) {
    display: none;
}
/* hides 'trending'*/
div[class="badgeContainer__635ed"]:has([d="M3 14a9 9 0 1 0 18 0c0-2.63-.61-5.22-1.79-7.58L18.2 4.38a.7.7 0 0 0-1.3.18l-.78 3.9a.66.66 0 0 1-1.27.11L12.22 1.6a.9.9 0 0 0-1.48-.33l-4.2 4.2A12.07 12.07 0 0 0 3 14Zm9.26-.84a.57.57 0 0 0-1-.23L9.6 15a3.08 3.08 0 1 0 5.12.48c-.14-.26-.5-.28-.71-.06L13 16.5l-.74-3.34Z"]) {
    display: none;
}
/* hides 'in combat'/'path'*/
div[class="badgeContainer__635ed"]:has([d="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 0 1 2.14 3.08c.01.06.06.1.12.1ZM18.44 17.27c.15.43.54.73 1 .73h1.06c.83 0 1.5-.67 1.5-1.5a7.5 7.5 0 0 0-6.5-7.43c-.55-.08-.99.38-1.1.92-.06.3-.15.6-.26.87-.23.58-.05 1.3.47 1.63a9.53 9.53 0 0 1 3.83 4.78ZM12.5 9a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM2 20.5a7.5 7.5 0 0 1 15 0c0 .83-.67 1.5-1.5 1.5a.2.2 0 0 1-.2-.16c-.2-.96-.56-1.87-.88-2.54-.1-.23-.42-.15-.42.1v2.1a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5Z"]) {
    display: none;
}
/* hides 'returning after x amount of time' */
div[class="badgeContainer__635ed"]:has([d="M4 12a8 8 0 0 1 14.93-4H15a1 1 0 1 0 0 2h6a1 1 0 0 0 1-1V3a1 1 0 1 0-2 0v3a9.98 9.98 0 0 0-18 6 10 10 0 0 0 16.29 7.78 1 1 0 0 0-1.26-1.56A8 8 0 0 1 4 12Z"]) {
    display: none;
}
/* remove more of this garbage idk wtf it is tbh */
[d="M20.97 4.06c0 .18.08.35.24.43.55.28.9.82 1.04 1.42.3 1.24.75 3.7.75 7.09v4.91a3.09 3.09 0 0 1-5.85 1.38l-1.76-3.51a1.09 1.09 0 0 0-1.23-.55c-.57.13-1.36.27-2.16.27s-1.6-.14-2.16-.27c-.49-.11-1 .1-1.23.55l-1.76 3.51A3.09 3.09 0 0 1 1 17.91V13c0-3.38.46-5.85.75-7.1.15-.6.49-1.13 1.04-1.4a.47.47 0 0 0 .24-.44c0-.7.48-1.32 1.2-1.47l2.93-.62c.5-.1 1 .06 1.36.4.35.34.78.71 1.28.68a42.4 42.4 0 0 1 4.4 0c.5.03.93-.34 1.28-.69.35-.33.86-.5 1.36-.39l2.94.62c.7.15 1.19.78 1.19 1.47ZM20 7.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM15.5 12a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM5 7a1 1 0 0 1 2 0v1h1a1 1 0 0 1 0 2H7v1a1 1 0 1 1-2 0v-1H4a1 1 0 1 1 0-2h1V7Z"] {
    display: none;
}
svg[class="icon__8ac07"] {
    display: none;
}
img[class="emoji emoji__8ac07"] {
    display: none;
}
div[class="defaultColor__4bd52 text-xs/normal_cf4812 text__8ac07 dot__8ac07"] {
    display: none;
}
svg[aria-hidden="true"][role="img"][xmlns="http://www.w3.org/2000/svg"][width="12"][height="12"][fill="none"][viewBox="0 0 24 24"] {
    display: none;
}
svg[class="icon_c9d15c"] {
    display: none;
}

/* Changes ALL new nitro tier icons to the classic nitro icon */
/* fire */ 
img[src="https://cdn.discordapp.com/badge-icons/cff7119d4417261c3f52fde8a94ba8e5.png"] {
    content: url("https://cdn.discordapp.com/badge-icons/2ba85e8026a8614b640c2837bcdfe21b.png")
}
/* opal */ 
img[src="https://cdn.discordapp.com/badge-icons/5b154df19c53dce2af92c9b61e6be5e2.png"] {
    content: url("https://cdn.discordapp.com/badge-icons/2ba85e8026a8614b640c2837bcdfe21b.png")
}
/* ruby */ 
img[src="https://cdn.discordapp.com/badge-icons/cd5e2cfd9d7f27a8cdcd3e8a8d5dc9f4.png"] {
    content: url("https://cdn.discordapp.com/badge-icons/2ba85e8026a8614b640c2837bcdfe21b.png")
}
/* emerald */ 
img[src="https://cdn.discordapp.com/badge-icons/11e2d339068b55d3a506cff34d3780f3.png"] {
    content: url("https://cdn.discordapp.com/badge-icons/2ba85e8026a8614b640c2837bcdfe21b.png")
}
/* diamond */ 
img[src="https://cdn.discordapp.com/badge-icons/0d61871f72bb9a33a7ae568c1fb4f20a.png"] {
    content: url("https://cdn.discordapp.com/badge-icons/2ba85e8026a8614b640c2837bcdfe21b.png")
}
/* platinum */ 
img[src="https://cdn.discordapp.com/badge-icons/0334688279c8359120922938dcb1d6f8.png"] {
    content: url("https://cdn.discordapp.com/badge-icons/2ba85e8026a8614b640c2837bcdfe21b.png")
}
/* gold */ 
img[src="https://cdn.discordapp.com/badge-icons/2895086c18d5531d499862e41d1155a6.png"] {
    content: url("https://cdn.discordapp.com/badge-icons/2ba85e8026a8614b640c2837bcdfe21b.png")
}
/* silver */ 
img[src="https://cdn.discordapp.com/badge-icons/4514fab914bdbfb4ad2fa23df76121a6.png"] {
    content: url("https://cdn.discordapp.com/badge-icons/2ba85e8026a8614b640c2837bcdfe21b.png")
}
/* bronze */ 
img[src="https://cdn.discordapp.com/badge-icons/4f33c4a9c64ce221936bd256c356f91f.png"] {
    content: url("https://cdn.discordapp.com/badge-icons/2ba85e8026a8614b640c2837bcdfe21b.png")
}
img[src="https://cdn.discordapp.com/badge-icons/undefined.png"] {
    display: none;
}
.container_b64375 {
    gap: 0px
}

/* extends server list background colour to the bottom of the screen, hides cut off point that looks ugly */
.scroller_fea3ef.none_c49869.scrollerBase_c49869 {
    height: 100%;
}

/* removes snow from direct messages button at very top left */
.scroller_ef3116 .tutorialContainer__1f388 .childWrapper__6e9f8:before{
    display: none;
}
.scroller_ef3116 .tutorialContainer__1f388 .childWrapper__6e9f8:after {
    display: none;
}

/* fixes border radius shown on direct messages button at very top left */
foreignObject[mask*="url(#"]:has(div[class="childWrapper__6e9f8 childWrapperNoHoverBg__6e9f8"]) {
    mask: none;
    border-radius: 0px !important;
}
.sidebar_c48ade {
    border-radius: 0px!important;
}

/* square profile pictures in server voice channels */
div[class="userAvatar__55bab avatar__07f91 avatarSmall__07f91"] {
    border-radius: 3px;
}
.container_ee69e0 .list_a478e5 .clickable_d80634 .content_d80634 .avatar_d80634.avatarSpeaking_d80634 {
        border-radius: 3px;
}

.container_ee69e0 .list_a478e5 .clickable_d80634 .content_d80634 {
        border-radius: 3px !important;
}

/* fixes scroll bar appearing when DMs aren't full with users yet */
ul[role="list"][aria-label="Direct Messages"][class="content_eed6a8"] {
    height: 100% !important;
}

/* makes stream preview corners rounded in calls */
.background_cff728:before {
    border-radius: 6px;
}
.streamPreview_ba4b17 {
    border-radius: 6px;
}

/* hide quest icon in 'playing <game>' */
svg[class="questsIcon_ad923e"] {
    display: none;
}

/* Remove camera unavailable button */
button[aria-label="Camera Unavailable"] {
    display: none;
}

button[aria-label="Turn On Camera"] {
    display: none;
}

.perksDemoContainer__5dec7 {
    display: none;
}

/* remove more cringe ads */
div[class="wrapper_e9b191"]:has([class="rewardTileWrapper_e9b191"]) {
    display: none;
}

/* removes windows buttons when using windows titlebar */
div[class="winButtons_c38106 winButtonsWithDivider_c38106"] {
    display: none;
}
div[class="winButtons_c38106"] {
    display: none;
}
/* removes support button next to inbox */
a[href="https://support.discord.com"] {
    display: none;
}

/* remove games button in message box */
div[class="buttonContainer_e6e74f app-launcher-entrypoint"] {
    display: none;
}
/* select emoji */
button[aria-label="Select emoji"] {
    display: none;
}
/* message box buttons width */
div[class="buttons__74017"] {
    width: 70px;
}

/* fixes disgusting 16px curve in folders for server icons */
div[class="icon_f34534 guildIcon__48112 iconSizeMini_f34534 iconInactive_f34534"] {
    border-radius: 4px !important;
}

/* remove discovery icon */
div[class="listItem__650eb"]:has(div[class*="discoveryIcon_"]) {
    display: none;
}

/* dm icon squish fix */
div[style="opacity: 1; height: 40px; transform: scale(1);"]:has(foreignObject[mask*="url(#"]):has([data-list-item-id*="guildsnav___"]):has([src*="https://cdn.discordapp.com/avatars/"]) {
    width: 48px !important; 
    height: 48px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

/* Removes horrid DM container banner */
div[class*="videoContainer_"] {
    display: none !important;
}
div[style*="background: "] {
    background: transparent !important;
}

/* removes discord game lol */
div[data-tab-id="Clicker Game Settings"] {
    display: none;
}

div[class*="innerCloseButtonPlated_"] {
    background-color: transparent !important;
}

/* image viewing fixes */
div[class="wrapper__44b0c authorAvatar__6088c base__5cd44"] {
    display: none;
}
div[class="author__6088c base__5cd44"] {
    display: none;
}
div[class="carouselModal_d3a6f0 theme-dark theme-midnight images-dark root__49fc1"] {
    box-shadow: none !important;
}
