/*
* @name OPERATION DECRINGIFY SHITCORD
* @author talesofstophere
* @version 0.1
* @description Make discord less cringe, using cringe and poorly done css by yours truly. only used github for a few friends. not all css made by me. 
    HIGHLY RECOMMENDED: 
    - Use vencord
    - Install 'ColorSighted' plugin
    - To make this look good with PlatformIndicators, turn off 'Color Mobile Indicator' in the settings of the plugin
    - Use DTM-08 V2 by 11pixels 
    TO DO/KNOWN ISSUES:
    - Selecting a member whilst they're offline (from the server member list) shows minor pixel displacement of the profile picture in the mini profile. 
    - Without DTM-08 V2 theme, some server icons/server folders fail to maintain it's square shape. 
    - With more than 12 DMs open, you can start scrolling down prematurely in your recents list.
    - ColorSighted shows your online/away/dnd/invis status all as green when switching your status
* @source https://github.com/TalesOfSTOPHERE/Operation-Decringify-Midcord
*/



/* more cringe effects on profiles */
[class^="effect__"],[class^="effectsWrapper__"] {
    display: none;
}

/* ? */
[class*="hideEmoji__"] {
    opacity: 1 !important;
}

/* ? i assume super reacts */
[class^="reaction_"],[class*="shakeReaction__"] {
    animation: none !important;
}

/* avatar decorations */
svg[class^="avatarDecoration"],             /* Avatar Decorations */
img[class^="avatarDecoration"],             /* Avatar Decorations in Messages */
/* Fix 'View Profile' selector with hidden decoration */
[class*="bannerSVGWrapper_"] > mask > image {
    display: none;
}
[class*=avatarDecorationHint_] > foreignObject {
  width: 80px;
  height: 80px;
  mask: url(#svg-mask-avatar-status-round-80);
}
[class*=avatarDecorationHint_] {
  top: -80px;
  left: 0px;
  position: relative;
}

/* profile effects */
[class^="profileEffects"] {
  display: none;
}

/* Disable Gift Button(s) (in chat) */
button[aria-label="Send a gift"]
{
    display: none;
}

/* Hide Channel App Launcher in chat */
[class^="channelAppLauncher_"]
{
    display:none;
}

/* Hide things in DMs page */
li div a[href="/shop"], /* Hide 'Shop' Tab */
li div a[href="/store"] /* Hide 'Ntiro' Tab */
{
  display: none;
}

/* Disable nitro icon on members list hover and opening nitro page */
/* Some discords have the boosting capitalized, some don't, no clue why. There's probably a cleaner way to do this. */
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server boosting since"]),
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server Boosting since"])
{
    pointer-events: none;
}

/* Disable 'Learn More' for nitro in the popout in the side DM */
div[class*=overlayBackground_]:has(button[class*=getNitroButton_])
{
    display: none;
};

/* Disable nitro icon in word count */
div[class*=characterCount_] div[class*=iconOnly_]:has(svg[class*=premium_])
{
    display: none;
}

/* Hide 'Explore Discoverable Servers' in server page */
div[class*="listItem"]:has(div[aria-label="Explore Discoverable Servers"])
{
  display: none;
}

/* Removes floating server list footer (currently only contains Discover)*/
ul[data-list-id='guildsnav'] > div[class^=footer]
{
  display: none;
}
div[class*=unreadMentionsFixedFooter]
{
  bottom: 0px;
}

/* Make Super Reactions less annoying */
div[class^="effectsWrapper"]
{
    display: none;
} 
img.emoji
{
    opacity: 100;
}
div[class*="shakeReaction"]
{
    animation: none !important;
}

/* Hide small home server boost button next to server name at the top left */
div[class^="flowerStarContainer_c91f7d"]
{
  display: none;
}

/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
    display: none;
}

/* disable the experiment called "global discovery" */
.footer_aa1bff{
    display:none;
}

/* removes forward message button on right click */
div[id="message-forward"]
{
  display: none;
}

/* removes create poll button when clicking attach file */
div[id="channel-attach-poll"]
{
  display: none;
}

/* removes bubble status on full profile view */
div[class^="visibleContainer_d0a252"]:has(div[class^="statusBubbleOuter_d0a252"])
{
  display: none;
}

/* removes new member badges in servers */
div[class^="newMemberBadge_"]
{
  display: none;
}

/* removes server boost icon on names in servers */
svg[class^="premiumIcon_"]
{
  display: none;
}

/* removes server boost button from server context menu */
div[id="guild-header-popout-premium-subscribe"]
{
  display: none;
}

/* removes app directory button from server context menu */
div[id="guild-header-popout-application-directory"]
 {
  display: none;
 }

/* removes threads button (next to pins in servers) */
div[aria-label="Threads"]
 {
  display: none;
 }

 /* removes notifications button (next to pins in servers) 
(right click server in server list for alternative) */
div[aria-label="Notification Settings"]
 {
  display: none;
 }

/* Disable Popup ads */
.containerWrapper_fa6aa6,                   /* "Like this avatar decoration" popup on user modal */
container__9dbd2                            /* Profile effect ad */ {
    display: none;
}

/* Disable profile edit page upsell */
div[id="profile-customization-tab"] > div[class^="container_"]
{
    display:none;
}

/* Disable emoji inspection upsell */
[class^="nitroTextAndBadge_"], button:has([class^="premiumIcon_"]),
[class^="emojiSection_"] [class^="flex_"] div[class*="text-sm-normal"]
{
    display:none;
}

/* Disable clan tag in messages, memebers list, and popout profile view */
div[class^=body_] > span[class^="clickable_"] [role="button"],
span[class*="clanTagChiplet_"],
span[class*="clanTag_"]
{
    display: none;
}

/* removes 'Apps' from context menu (servers) */
div[id="message-apps"]
 {
  display: none;
 }

/* removes 'Apps' from context menu (users) */
div[id="user-context-apps"]
 {
  display: none;
 }

/* removes 'speak message' from context menu */
div[id="message-tts"]
 {
  display: none;
 }

/* removes 'create thread' from context menu */
div[id="message-thread"]
 {
  display: none;
 }

 /* removes server boost 'goal' below server name */
li div[class="container_c75f85 containerWithMargin_c75f85"]
 {
  display: none;
 }

 /* removes help button at top right corner */
div[aria-label="Help"]
 {
  display: none;
 }

 /* removes video call button at top right corner */
div[aria-label="Start Video Call"]
 {
  display: none;
 }

 /* removes message hover buttons completely (just right click lmao) */
div[class="buttonsInner_d5deea popover_e986d9 popoverReactionHoverBar_e986d9 wrapper_f7e168"]
 {
  display: none;
 }

/* remove small add note button when viewing profile on side 
(add notes using full profile view instead) */
button[aria-label="Add Note"]
{
  display: none;
}

/* removes add notes from context menu
(add notes using full profile view instead) */
div[id="user-context-note"]
{
  display: none;
}

/* removes 'invite to server' from 3 dots on full profile */
div[id="user-profile-overflow-menu-invite-to-server"]
{
  display: none;
}

/* removes 'invite to server' from user context menu */
div[id="user-context-invite-to-server"]
{
  display: none;
}

/* removes 'close dm' from user context menu
(use the X button retard) */
div[id="user-context-close-dm"]
{
  display: none;
}

/* removes 'hide muted channels' from server context menu */
div[id="guild-context-hide-muted-channels"]
{
  display: none;
}

/* removes 'show all channels' from server context menu */
div[id="guild-context-opt-in"]
{
  display: none;
}

/* removes 'start video call' from friends screen 3 dots menu */
div[id="friend-row-start-video-call"]
{
  display: none;
}

/* removes 'server boosting since' badge from profiles */
div[aria-label^="Server boosting since "]
{
  display: none;
}

/* removes 'completed a quest' badge from profiles */
div[aria-label="Completed a Quest"]
{
  display: none;
}

/* removes 'suggestions' from message box context menu */
div[id="textarea-context-suggestions"]
{
  display: none;
}

/* removes 'languages' from message box context menu */
div[id="textarea-context-languages"]
{
  display: none;
}

/* removes 'events, browse channels and members' from servers
(keep an eye on this incase) */
li div[class="containerDefault_f6f816 wrapper_d8bfb3"]
{
  display: none;
}
div[class="sectionDivider_c43953"]
{
  height: 2px;
  opacity: 0;
}
div[style="height: 12px;"]
{
  display: none;
}

/* removes separator line from ALL context menus 
(keep an eye on this one) */
div[class="separator_d90b3d"]
{
  display: none;
}

/* removes server event notice */
div[class="channelNotice_a6cd4e"]
{
  display: none;
}

/* removes 'add status' to own profile */
div[aria-label="Add custom status"]
{
  display: none;
}

/* removes pronouns */
div[aria-label="Pronouns"]
{
  display: none;
}
div[class="dotSpacer_c32acf"]
{
  display: none;
}

/* disables 'start an activity' button in call */
button[aria-label="Start An Activity"]
{
  display: none;
}
/* disables 'start an activity' button in call */
div[aria-label="Play Activities here"]
{
  display: none;
}

/* remove server banners above channels */
div[class="animatedContainer_fd6364"]
{
  display: none; 
}
div[style="height: 84px;"]
{
  display: none;
}

/* disables small '2+ in voice channel' popup that appears above your name
at the bottom of channels */
div[class="container_eba0ba bottom_eba0ba"]
{
  display: none;
}

/* disables small 'unread' popup that appears at the top of channels 
when scrolled down in a channel list in a server */
div[class="container_eba0ba top_eba0ba"]
{
  display: none;
}

/* removes small 90 degree curved L shape line above profile picture
when replying to someone */
div[aria-label="Jump To Reply"]
{
  display: none;
}

/* disables a lot of small volume icons when someone is in a server vc */
div[class="vc-uvs-speaker vc-uvs-clickable vc-uvs-message-indicator vc-uvs-speaker-margin"]
{
  display: none;
}
div[class="vc-uvs-speaker vc-uvs-clickable vc-uvs-speaker-margin"]
{
  display: none;
}
div[class="vc-uvs-speaker vc-uvs-clickable"]
{
  display: none;
}

/* removes 'forward' from images/gifs? */
div[class^="container_e31053 forward_"]
{
  display: none;
}

/* removes 'free 1 month' badge that shows up for nitro */
div[class^="premiumTrialBadge_"]
{
  display: none;
}

/* Remove 'edit image with apps' from when hovering on gifs */
div[aria-label="Edit Image with Apps"]
{
  display: none;
}

/* remove activity cards from in servers */
[class*="membersGroup_"][class*="container_"]:has([role="button"][style="width: 12px; height: 12px;"]):nth-of-type(1){
   display:none!important;
}
[class*="container_"][class*="openOnHover_"]{
   display:none!important;
}

/* Remove emoji button and soundboard button in bottom left 
when watching screenshare/webcam */
div[class*="voiceEffectsActionBar_"]
{
  display: none;
}

/* remove status from voice channels in servers */
div[class*="statusDiv_"]
{
  display: none;
}

/* remove 'choose an activity' blue button from screenshare/webcam view */
[class="button_a5ea57 button_dd4f85 lookFilled_dd4f85 colorBrand_dd4f85 sizeLarge_dd4f85 grow_dd4f85"]
{
  display: none;
}

/* remove nitro trial shill at the top of screen */
div[class*="colorPremiumTier2_"][class*="colorPremium_"]
{
  display: none;
}

/* hides 'merch' tab in settings */
div[data-tab-id="merchandise"]
{
  display: none;
}

/* removes 'explore discoverable servers' from add friend screen */
div[class="grid_aef5fd"]:has(button[class="container_aef5fd"])
{
  display: none;
}

/* removes 'other places to make friends' from add friend screen */
h2[class="h2_c46f6a title_c46f6a defaultColor_c46f6a title_aef5fd"]
{
  display: none;
}

/* removes upsell overlay eyesore in settings -> profiles -> server profiles */
div[class*="upsellOverlay_"]
{
  display: none;
}

/* removse 'family' tab from settings */
div[data-tab-id="Family Center"]
{
  display: none;
}

/* idk what this is but its name pisses me off so get filtered */
div[id="cash-app-pay-container"]
{
  display: none;
}

/* removes 'app directory' tab from edit server */
div[data-tab-id="APP_DIRECTORY"]
{
  display: none;
}

/* removes 'server template' tab from edit server */
div[data-tab-id="GUILD_TEMPLATES"]
{
  display: none;
}

/* removes level 2 and 3 server boost upsell in server settings -> overview -> display 
(otherwise known as server banner and invite backgrounds customisation) */
[class="flexChild_dc333f"]:has([class*="upsellButton_"])
{
  display: none;
}
div[class*="upsell_"][role="button"][aria-hidden="true"]
{
  display: none;
}
div[class="divider_f0a9ff"]:has([class="flex_dc333f horizontal_dc333f justifyStart_ec1a20 justifyStart_ec1a20 noWrap_ec1a20"]):nth-of-type(2){
  display: none;
}

/* removes server boost upsell in server settings -> stickers */
div[class*="upsellContainer_"]
{
  display: none;
}
/* removes 'stickers lost' banner in server settings -> stickers */
div[class="banner_ad4cb5"]
{
  display: none;
}
/* removes pink server boost level bar in server settings -> stickers */
div[class*="progress_"][class*="progressBar_"]
{
  display: none;
}
/* hides lone divider grey bar in server settings -> stickers */
div[class="divider_b03b7f divider_bb33d5"]
{
  display: none;
}
/* hides server boost logos in server settings -> stickers */
svg[class*="tierIcon_"][class*="tierIconLocked_"]
{
  display: none;
}
/* removes buy buttons in server settings -> stickers */
button[type="button"][class*="lookFilled_"][class*="colorGreen_"][class*="sizeMedium_"]
{
  display: none;
}
/* removes 'no server boost' text in settings -> stickers */
div[class*=tierDefaultUnlocked_]
{
  display: none;
}
/* removes 'unlock more slots' button in server settings -> stickers 
(BROKEN: removes avatar apply button lol */
/* button[class*="lookFilled_"][class*="colorGreen_"]:has([class*="contents_"])
{
  display: none;
} */

/* removes 'soundboard' tab from server settings */
div[data-tab-id="SOUNDBOARD"]
{
  display: none;
}

/* removes some separator bars in server settings */
div[class="separator_a0"]:nth-of-type(14){
    display: non;
}
/* more separator bars in server settings */
div[class="separator_a0"]:nth-of-type(20){
  display: non;
}
/* more separator bars in server settings */
div[class="separator_a0"]:nth-of-type(23){
  display: non;
}
/* more separator bars in server settings */
div[class="separator_a0"]:nth-of-type(19){
  display: non;
}
/* more separator bars in server settings */
div[class="separator_a0"]:nth-of-type(28){
  display: non;
}
/* 'community' in some server settings */
div[class="header_a0"]:has([class="eyebrow_dc00ef headerText_a0"]):nth-of-type(21){
  display: non;
}
/* 'community' in some server settings BUT also removes 'app settings' header in settings.*/
div[class="header_a0"]:has([class="eyebrow_dc00ef headerText_a0"]):nth-of-type(20){
  display: non;
}
/* 'monetization' in server settings */
div[class="header_a0"]:has([class="eyebrow_dc00ef headerText_a0"]):nth-of-type(24){
  display: non;
}

div[class="separator_a0"]
{
    opacity: 70%;
    height: 0.5px!important;
}

/* removes community tab in server settings */
div[data-tab-id="COMMUNITY"]
{
  display: none;
}

/* removes 'onboarding' tab in server settings */
div[data-tab-id="ONBOARDING"]
{
  display: none;
}

/* removes 'discovery' tab in server settings */
div[data-tab-id="DISCOVERY"]
{
  display: none;
}

/* removes 'custom invite link' tab in server settings */
div[data-tab-id="VANITY_URL"]
{
  display: none;
}

/* removes 'welcome screen' tab in server settings */
div[data-tab-id="COMMUNITY_WELCOME"]
{
  display: none;
}

/* removes 'server insights' tab in server settings */
div[data-tab-id="ANALYTICS"]
{
  display: none;
}

/* removes subscriptions tab in server settings */
div[data-tab-id="ROLE_SUBSCRIPTIONS"]
{
  display: none;
}

/* removes server boost tab in server settings */
div[data-tab-id="GUILD_PREMIUM"]
{
  display: none;
}

/* hides 'open chat' icon when hovering over server voice channel */
div[class*="iconItem_"][class*="iconBase_"][role="button"][aria-label="Open Chat"]
{
  display: none;
}

/* hides 'new' text when theres a new channel in a server */
div[class*="newChannel_"]
{
  display: none;
}

/* stops some pixels slightly merging with the bottom of profile picture in settings -> my account */
div[class="userInfo_b69b77"]
{
  height: 60px;
}

/* removes 'clips' tab in settings */
div[data-tab-id="Settings Clips"]
{
  display: none;
}

/* removes small 'new' notifications next to forum channels */
div[class*="channelInfo_"]:has([class="text-xs/semibold_dc00ef"])
{
  display: none;
}
/* removes popout when hovering over forum channels */
div[id*="popout_"]:has([class*="popout_c5b389"])
{
  display: none;
}

/* hides 'getting started' progress bar at the top of server channels */
div[class*="progressBarContainer_"][role="button"]:has([class*="progressBarText_"])
{
  display: none;
}

/* disables 'soundboard + webcam' button in call, buttons above deafen/mute */
button[aria-label="Open Soundboard"]
{
  display: none!important;
}
button[aria-label="Turn On Camera"][class*="button_"][class*="buttonColor_"][class*="lookFilled_"][class*="sizeSmall_"]
{
  display: none;
}
button[aria-label="Share Your Screen"]
{
  width: 218px;
  border-radius: 4px!important;
}

/* remove hovering mouse over nitro badge making stars appear */
div[class*="starContainer_"]
{
  display: none;
}

/* hides disabled soundboard button overlay when deafened */
span[class*="disabledButtonWrapper_"]:has(button[aria-label="Soundboard disabled when deafened"])
{
  display: none;
}

/* rounds corners of call buttons in normal calls*/
button[aria-label="Turn On Microphone"]
{
  border-radius: 4px!important;
}
button[aria-label="Disconnect"][class*="red_"]
{
  border-radius: 4px!important;
}
button[aria-label="Turn On Camera"]
{
  border-radius: 4px!important;
}

/* button alignment fixes. might be theme specific? */
div[class*="flex_"][class*="horizontal_"][class*="justifyStart_"][class*="alignStretch_"][class*="noWrap_"][class*="voiceButtonsContainer_"]:has(button[aria-label="Noise Suppression powered by Krisp"])
{
  margin-right: 0.5px!important;
}
.panels_a4d4d9 .container_b2ca13 .flex_dc333f
{
  margin-top: 0.5px!important;
}

/* square pfps */
foreignObject[mask*="url(#"] {
  mask: none;
  border-radius: 3px!important;
}
.avatar_f9f2ca{
  border-radius: 3px!important;
  outline: 2px solid rgb(46, 38, 38);
}
.avatar_2e8lTP{
  border-radius: 3px!important;
}
.clickable_f94206:hover .overlay_f94206:after{
  border-radius: 3px!important;
}
.full-motion .overlay_f94206:after{
  border-radius: 3px!important;
}
foreignObject[mask*="url(#"]:has([class*="avatarStack_"]) {
  outline: 2px solid rgb(46, 38, 38);
  x: 2px!important;
  y: 2px!important;
}
/* fixes alignment issues near deafen/mute button */
.container_b2ca13 .avatar_b2ca13{
    margin-bottom: 4px;
    margin-left: 1px;
}

/* status indicator outline */
rect[class*="pointerEvents_"]
{
  outline: 2px solid rgb(46, 38, 38);
  border-radius:1rem;
}
circle[fill="black"][r="14"][cx="68"]
{
  display: none;
}
circle[fill="black"][r="20"][cx="100"]
{
  display: none;
}
rect[class*="pointerEvents_"][mask="url(#svg-mask-status-online-mobile)"]
{
  outline: 2px solid rgb(46, 38, 38);
  border-radius:1px!important;
}
rect[class*="pointerEvents_"][width="16"][height="24"]{
  outline: 2px solid rgb(46, 38, 38);
  border-radius:1px!important;
}
rect[class*="pointerEvents_"][width="10"][height="15"]{
  outline: 2px solid rgb(46, 38, 38);
  border-radius:1px!important;
}
rect[fill="black"][style="opacity: 0.45;"]{
    display: none;
}
/* fixes square status icon */
.status_c7d26b {
    border-radius: 10px;
}

/* rounded mute icon in call (ill fix this messy layout one day...) */
button[aria-label="Turn Off Microphone"][class*="staticButton_"][class*="lookBlank_"][class*="colorable_"]{
    border-radius: 4px;
}

/* Deletes  'nitro preview' in settings -> user profile */
div[class*="segmentedControlNonNitro_"]{
    display: none;
}

/* in call speaking border (bottom left) */
.avatarSpeaking_c51b4e{
    border-radius: 4px;
}

/* disables notification popup about 'spooky' notification noises */
.wrapper_c1da7a{
    display: none;
}

/* removes border on tiny icon in someones profile next to mutual friend/mutual servers */
foreignobject[mask*="url(#"][width="16"][height="16"]:has([class*="avatarStack_"]){
    x: 0px !important;
    y: 0px !important;
    outline: none;
    box-shadow: none;
}
/* mutual friend icon stuff bla bla */
.avatar_ccc074{
    mask: none;
    -webkit-mask: none;
    inline-size: 10px;
}
.section_fc9b46{
    gap: 12px;
}
.biteSizeInnerThemed_c69a7b .mutuals_fc9b46 .iconSizeSmol_a64689{
    border-radius: 2px;
}

/* removes border from offline server members and fixes pixel offset */
.offline_a31c43 foreignobject[mask*="url(#"]:has([class*="avatarStack_"]){
    x: 0px !important;
    y: 0px !important;
    outline: none;
    box-shadow: none !important;
}
.selected_d808b0 foreignobject[mask*="url(#"]:has([class*="avatarStack_"]){
    outline: none;
    box-shadow: none !important;
}

/* square pfps in call + borders*/
.voiceAvatar_db83a2{
    border-radius: 4px;
}
.border_db83a2.speaking_db83a2{
    border-radius: 4px;
}
.border_db83a2{
    border-radius: 4px;
}
.row_a5b954 foreignobject[mask*="url(#"]:has([class*="avatarStack_"]){
    y: 0px !important;
    x: 0px !important;
    border-radius: 4px !important;
}
.svg_c51b4e{
    border-radius: 4px !important;
}

/* removes discover from bottom of server list as of 03/12/2024 */
div[class*="footer_"]:has([aria-label="Discover"]) {
display: none;
}
